* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
    background: rgb(180, 195, 220);
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

svg {
	display: none;
}

#fubuki {
    position: absolute;
    fill: rgb(180, 195, 220);
    width: 100vw;
    height: 100vh;
}

#fubuki-text {
    fill: rgb(180, 195, 220);
    width: 100vw;
    height: 100vh;
}

.hide {
    opacity: 0;
}

.inner-box {
    fill: rgb(180, 195, 220);
}
